# Required
DB_URL=

# Required
DB_NAME=

# Optional, defaults to `task`
TASK_COLLECTION_NAME=

# Optional, defaults to `user`
USER_COLLECTION_NAME=

# Optional, defaults to `tokenPayload`
TOKEN_PAYLOAD_COLLECTION_NAME=

# Required in production, defaults to 'http://localhost:3000'. It SHOULD NOT have a trailing slash '/'.
BASE_URL=

# Required in production, see https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL=

# Required in production, recommended in dev, see https://next-auth.js.org/configuration/options#nextauth_secret
NEXTAUTH_SECRET=

# Required
SMTP_HOST_URL=

# Required
SMTP_PORT=

# Required
SMTP_USER=

# Required
SMTP_PASSWORD=

# Optional, should be valid header dictionary as JSON string, e.g. '{ "x-my-key": "my-value" }'
SMTP_HEADERS=

# Required, see the string formats here: https://nodemailer.com/message/addresses/
DEFAULT_FROM_EMAIL=

# Optional, defaults to 120 mins (2 hours)
PASSWORD_RESET_TOKEN_TTL_MINS=

# Optional, defaults to 10,080 mins (7 days)
INVITATION_TOKEN_TTL_MINS=

# Optional, but needed to perform admin actions like sending email invitations. It should be a MongoDB id as a 24-character hex string.
# See https://www.mongodb.com/docs/manual/reference/method/ObjectId/
ADMIN_USER_ID=
