@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --on-light-rgb: 0, 97, 206;
  --on-dark-rgb: 245, 243, 222;
  --on-warning-rgb: 178, 146, 76;
  --on-disabled-rgb: 0, 0, 0;
  --background-rgb: 245, 243, 222;
  --disabled-100-rgb: 218, 215, 196;
  --disabled-200-rgb: 183, 183, 173;
  --general-500-rgb: 0, 97, 206;
  --general-200-rgb: 164, 192, 215;
  --general-100-rgb: 213, 222, 219;
  --accent-rgb: 87, 207, 126;
  --warning-rgb: 255, 210, 109;
  --attention-rgb: 255, 110, 103;
}

/* TODO support dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html, body {
  min-height: 100%;
  max-height: 100%;
}

body {
  color: rgb(var(--on-light-rgb));
  background: rgb(var(--background-rgb));
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #88888870;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #888888;
}


/* TODO move to own file? */

.task__completed {
  @apply bg-disabled-100 text-ondisabled;
}

.task__completed .task__checkbox {
  @apply bg-disabled-200;
}

.task__completed .task__overdue-chip {
  @apply border-ondisabled;
}

.task__priority-low {
  @apply bg-general-100 text-onlight;
}

.task__priority-low .task__checkbox {
  @apply bg-general-200;
}

.task__priority-med {
  @apply bg-warning text-onwarning;
}

.task__priority-med .task__checkbox {
  @apply bg-ondark;
}

.task__priority-high {
  @apply bg-attention text-ondark;
}

.task__priority-high .task__overdue-chip {
  @apply bg-attention border-ondark;
}

.task__priority-high .task__checkbox {
  @apply bg-ondark;
}
