@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* TODO support dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html, body {
  min-height: 100%;
  max-height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gray {
  background-color: gray !important;
}

/* .crossed::before {
  display: inline-block;
  content: '';
  border-right: 0.125rem solid rgba(127, 127, 127, 0.25);
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  transform: rotate(66deg);
  transform-origin: 0% 0%;
  margin-left: 1.625rem;
  position: absolute;
  height: 2rem;
} */

.blue {
  background-color: aqua !important;
}

/* TODO override default style, see node_modules\react-calendar\dist\Calendar.css */
.react-calendar__tile {
  height: 3rem !important;
}

.react-calendar__tile > abbr {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #88888870;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #888888;
}

