@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 245 243 222;
  --general-500-rgb: 0 86 198;
  --general-200-rgb: 185 213 230;
  --general-100-rgb: 185 213 230; /* same as general-200 for now */
  --accent-rgb: 86 235 0;
  /* --warning-rgb: 245 228 174; */
  --attention-rgb: 255 45 28;
  --disabled-100-rgb: 218 215 196;
  --disabled-200-rgb: 183 183 173;
  --on-light-rgb: 0 86 198; /* same as general-500 */
  --on-dark-rgb: 245 243 222; /* same as background */
  /* --on-warning-rgb: 126 88 33; */
  /* --on-attention-rgb: 155 34 25; */
  --on-disabled-rgb: 84 84 84;
}

/* TODO support dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  min-height: 100%;
  max-height: 100%;
  @apply font-sans font-light;
}

body {
  color: rgb(var(--on-light-rgb));
  background: rgb(var(--background-rgb));
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #88888870;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #888888;
}

input[type] {
  @apply p-0 border-0;
}

input[type="number"] {
  @apply rounded bg-background ring-2 ring-general-200 font-semibold;
}

input[type="number"][disabled] {
  @apply bg-disabled-200 ring-1 ring-ondisabled;
}

.loader {
  @apply aspect-square rounded-full border-2 border-transparent border-r-onlight border-b-onlight;
  animation: l2 0.65s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

#headlessui-portal-root {
  @apply font-sans;
}

/* TODO move to own file? */

.task {
  @apply bg-general-100 text-onlight;
  /* prevent the options menu from "popping" during transitions, see https://stackoverflow.com/a/19311234 */
  z-index: 0;
  transition: z-index 0.5s step-end;
}

.task--selected {
  /* prevent the options menu from "popping" during transitions, see https://stackoverflow.com/a/19311234 */
  z-index: 20;
  transition: z-index 0.5s step-start;
}

.task--completed {
  @apply bg-disabled-100 text-ondisabled;
}

.task__checkbox {
  @apply border-onlight cursor-pointer;
}

.task--completed .task__checkbox {
  @apply border-ondisabled;
}

.task__checkbox--disabled {
  @apply border-disabled-200 cursor-default;
}

.task--completed .task__checkbox--disabled {
  @apply border-ondisabled cursor-default;
}

.task__checkbox--disabled::before {
  content: "";
  @apply absolute border-t-2 border-t-disabled-200 w-[1.414rem] -rotate-45 top-2 -left-1;
}

.task--completed .task__checkbox--disabled::before {
  display: none;
}

.task__overdue-chip {
  @apply bg-attention text-ondark;
}

.task--completed .task__overdue-chip {
  @apply bg-disabled-100 text-ondisabled;
}

/* default loader styles apply to active (not completed) tasks */

.task--completed .task__loader {
  @apply border-r-ondisabled border-b-ondisabled;
}

.task__date-range--attention {
  @apply text-attention;
}

.task--completed .task__date-range {
  @apply text-inherit;
}
